* {
    margin: 0;
    padding: 0;
}

.navbar {
    height: 80px;
    background-color: #000000;
    width: 100%;
    position: fixed;
    z-index: 999;
    font-family: 'Oswald', sans-serif;
}

.body {
    padding-top: 80px;
    font-family: 'Oswald', sans-serif;
}

.login {
    float: right;
    padding-right: 20px;
    padding-top: 22px;
}
.loggedin {
    float: right;
    padding-right: 20px;
    padding-top: 22px;
    font-family: 'Oswald', sans-serif;
    color: #ffffff;
}
#userName {
    outline: none;
    height: 30px;
    width: 170px;
    border-radius: 10px;
    border: 1px;
    padding: 8px;
    -webkit-box-sizing: border-box;
    font-family: 'Oswald', sans-serif;

}

#password {
    outline: none;
    height: 30px;
    width: 170px;
    border-radius: 10px;
    border: 1px;
    padding: 8px;
    -webkit-box-sizing: border-box;
    font-family: 'Oswald', sans-serif;

}

#loginBtn {
    outline: none;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    height: 30px;
    border: 0;
    color: #fff;
    background-color: #50661E;
    font-family: 'Oswald', sans-serif;


}

#loginBtn:active {
    background-color: #c5c5c5;
}

.navbar li {
    padding-left: 20px;
    display: inline-block;
    float: left;
    padding-top: 25px;
    font-size: 20px;
}

.navbar a {
    color: #ffffff;
    text-decoration: none;
}

.navbar a:hover {
    color: #50661E;
}

.navbar h3 {
    color: #ffffff;
    font-size: 40px;
    float: left;
    padding-top: 7px;
    padding-left: 80px;
}

.showcase {
    background-image: url("https://static.pexels.com/photos/5834/nature-grass-leaf-green.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 700px;
    max-height: 1000px;
    background-position: center center;
    text-align: center;
}

.showcase h1 {
    padding-top: 40px;
    color: #ffffff;
}

#search {
padding-top: 300px;
}

#searchBar {
    margin: 0 auto;
    outline: none;
    width: 400px;
    height: 40px;
    border-radius: 10px;
    border-width: 1px;
    text-align: center;
    font-size: 20px;
    opacity: 0.8;
}

#button {
    outline: none;
    padding-left: 10px;
    padding-right: 10px;
    height: 40px;
    border-radius: 10px;
    border-width: 0;
    background-color: #50661E;
    color: #ffffff;
    font-size: 16px;
    opacity: 0.9;
    font-family: 'Oswald', sans-serif;
    
}

#button:active {
    background-color: #2b2b2b;
}

.resultSet {
    text-align: center;
    margin: auto;
    width: 75%;
    background-color: #ffffff;
    padding-bottom: 20px;
    padding-top: 10px;
}

.resultSet h1 {
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 35px;
    font-family: 'Oswald', sans-serif;

}

.regMem {
    outline: none;
    cursor: pointer;
    width: 170px;
    height: 50px;
    border-radius: 10px;
    background-color: #50661E;
    color: #ffffff;
    border: 0;
    font-size: 16px;
    font-family: 'Oswald', sans-serif;
}

#notaMember button:active {
    background-color: #2b2b2b;
}

#results {
    padding-top: 50px;
    flex-wrap: wrap;
    display: flex;
    margin: auto;
    justify-content: space-between;
}

.box {
    text-align: center;
    background-color: #ffffff;
    width: 30%;
    box-shadow: 5px 5px 50px #50661E;
    height: 600px;
    margin-bottom: 30px;
    padding: 10px;
    position: relative;
}

.box h3 {
    padding-top: 10px;
    font-size: 25px;
}

.box h5 {
    padding-top: 7px;
    padding-bottom: 5px;
    font-size: 18px;
}

.box img {
    max-width: 100%;
    height: auto;
    padding-top: 15px;
}

.box div {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 70px;
}

.box button {
    width: 100px;
    height: 40px;
    background-color: #50661E;
    color: #ffffff;
    border: 1px;
    font-size: 16px;
    border-radius: 10px;
    font-family: 'Oswald', sans-serif;
    outline: none;
    
}
.box button:active {
    outline: none; 
    background-color: #2b2b2b;
}

#readMore {
    display: none;
    background-color: #50661E;
    width: 75%;
    margin: auto;
    min-height: 400px;
}

.aboutBox {
    padding: 20px;
}

.aboutBox img {
    float: right;
    width: 150px;
    height: auto;
}

.aboutBox h3 {
    font-size: 35px;
    padding-bottom: 15px;
}

.aboutBox h5 {
    font-size: 25px;
    padding-bottom: 10px;
}

.aboutBox p {
    font-size: 14px;
    width: 60%;
}

.aboutBox button {
    width: 30%;
    height: 100px;
    margin: auto;
    background-color: #000000;
    color: #ffffff;
    font-size: 25px;
    border: 0;
    outline: none;
}

.aboutBox button:active {
    background-color: #202020
}

.generateMem {
    width: 65%;
    margin: auto;
    padding-top: 100px;
    color: #000000;
    height: 570px;
    background-color: #50661E;
    
}

.generateMem h1 {
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-size: 65px;    
}

#regMemBtn {
    margin-top: 50px;
    font-family: 'Oswald', sans-serif;
    background-color: #000000;
    color: #ffffff;
    height: 50px;
    width: 120px;
    border-radius: 0px;
    
}

.inputFields {
    margin: auto;
    padding-top: 20px;
    width: 30%;
}

.inputFields p {
    color: #ffffff;
    font-family: 'Oswald', sans-serif;
    font-size: 15px;    
    text-align: left;
    padding-bottom: 10px;
}

.inputFields input {
    font-family: 'Oswald', sans-serif;    
    outline: none;
    float: right;
    height: 27px;
    width: 200px;
    border-radius: 7px;
    border: 1px;
    padding: 8px;
    -webkit-box-sizing: border-box;
}

.loginBig {
    font-family: 'Oswald', sans-serif;    
    background-color: #50661E;
    text-align: center;
    padding-top: 200px;
    height: 550px;
}

.loginBig h1 {
    font-size: 65px;
}

.loginBig p {
    padding-bottom: 30px;
}

.loginbtn {
    background-color: #ffffff !important;
    color: #000000 !important;
}

.loginbtn:active {
    background-color: #c5c5c5 !important;
}

#footer {
    height: 80px;
    background-color: #000000;
    color: #ffffff;
}

#footer h3 {
    float: right;
    padding-top: 30px;
    padding-right: 50px;
}

@media (max-width: 900px) {
    .box {
        width: 100%;
        height: 400px;
    }

    .box img {
        max-width: 50%;
        max-height: 35%;
    }
}