<!DOCTYPE html>

<html xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
        <link rel="stylesheet" href="/style.css"/>
        <link href="https://fonts.googleapis.com/css?family=Merriweather|Oswald" rel="stylesheet"/>
        <title>Jada.com | Your book shop Online</title>
    </head>

    <body>
        <div class="navbar">
            <h3><a href="index.html">JADA <img src="/logo.png"/></a></h3>

            <div class="loggedin">
                <ul>
                    <li><p th:text="'Hej ' + ${user.firstName}"></p></li>
                </ul>
            </div>

        </div>

        <div class="library">
            <h1>Your Library</h1>
        </div>

        <div class="resultSet">
            <div id="results">
                <table>
                    <th:block th:each="book : ${bookid}">
                        <tr>
                            <td th:text="${book.bookid}">...</td>
                        </tr>
                    </th:block>
                </table>
            </div>
        </div>

        <div id="readMore">

        </div>

        <div id="footer">
            <h3>&copy; Academy 2017</h3>
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
        <script src="code.js"></script>
    </body>
</html>