<!DOCTYPE html>

<html xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
        <link rel="stylesheet" href="/style.css"/>
        <link href="https://fonts.googleapis.com/css?family=Merriweather|Oswald" rel="stylesheet"/>
        <title>Jada.com | Your book shop Online</title>
    </head>

    <body>
        <script src="lib.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
        <div class="navbar">
            <h3><a href="index.html">JADA <img src="/logo.png"/></a></h3>

            <div class="loggedin">
                <ul>
                    <li><p th:text="'Hello ' + ${user.firstName}"></p></li>
                    <li><form action="/logout" method="get">
                        <input type="submit" value="Logout" id="logoutBtn"/>
                    </form>
                    </li>
                </ul>
            </div>

        </div>

        <div class="library">
            <h1>Your Library</h1>
        </div>

        <div class="resultSet">
            <div id="results">
                <table id="entireLib">
                    <th:block th:each="book : ${books}">
                        <tr>
                            <td><a th:id="'https://www.googleapis.com/books/v1/volumes?q=isbn:' + ${book}" th:text="'ISBN: ' + ${book}" class="books">...</a></td>
                        </tr>
                    </th:block>
                </table>
            </div>
        </div>

        <div id="readMore">

        </div>
    </body>
</html>