<!DOCTYPE html>

<html xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
        <link rel="stylesheet" href="/style.css"/>
        <link href="https://fonts.googleapis.com/css?family=Merriweather|Oswald" rel="stylesheet"/>
        <title>Jada.com | Your book shop Online</title>
    </head>

    <body>
        <div class="navbar">
            <h3><a href="index.html">JADA <img src="/logo.png"/></a></h3>

            <div class="loggedin">
                <ul>

                    <li><p th:text="'Hello ' + ${user.firstName}"></p></li>
                    <li><form action="/lib" method="get">
                        <input type="submit" value="Library" id="libBtn"/>
                    </form></li>
                    <li><form action="/logout" method="get">
                        <input type="submit" value="Logout" id="logoutBtn"/>
                    </form>
                    </li>
                </ul>
            </div>
        </div>

        <div class="showcase">
            <h1>Search Book</h1>
            <div id="search">
                <input type="text" id="searchBar" placeholder="Search for a nice book" autofocus=""/>
                <button id="button">Search</button>
            </div>
        </div>

        <div class="resultSet">
            <div id="results">
            </div>
        </div>

        <div id="readMore">
        </div>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
        <script src="code.js"></script>
    </body>
</html>